<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.euphonium.codereviewsystemserver.mapper.UserMapper">
    <select id="findAll" resultType="User">
        SELECT * FROM user
    </select>
    <select id="login" resultType="User">
        select * from user
        where user.account like #{account}
        and user.password = #{password}
        limit 1
    </select>

    <select id="getNameByAccount" parameterType="string" resultType="string">
        SELECT name
        FROM user
        WHERE account = #{account}
    </select>

    <update id="modifyPassword" parameterType="User">
        UPDATE user
        SET user.password = #{password}
        WHERE user.account = #{account};
    </update>
</mapper>